header {
    display: flex;
    align-items: center;

    ul {
        display: flex;

        @media screen and (max-width: 960px) {
            display: block;
        }

        li {
            margin-left: 55px;

            @media screen and (max-width: 960px) {
                margin-left: 0;

                a {

                    font-size: 24px;
                    margin-bottom: 7px;
                    text-align: end;
                    width: 100%;
                    padding-right: 18px;

                }
            }
        }
    }
}

.border-end-header {
    border-right: 1px solid #ddd;
}

.open-nav-button {
    display: none;
}

.action-button {
    display: none;
}

@media screen and (max-width: 960px) {
    .border-end-header {
        border-right: none;
    }

    .close-button {
        text-align: right;
        padding-right: 10px;
        padding-top: 8px;
    }

    .action-button {
        display: block;

        svg {
            height: 24px;
            width: 24px;
        }
    }

    .open-nav-button {
        display: block;
        text-align: end;
    }

    .mobile-menu {
        position: fixed;
        right: -100%;
        top: 0;
        width: 65%;
        height: 100%;
        z-index: 9;
        background-color: #fff;
        transition: right 0.3s ease-in;

        &.active {
            transition: right 0.3s ease-in;
            right: 0;
        }
    }
}